@{
    ViewData["Title"] = "Confirmação Apagar Contato";
}


<div action="text-center">
    <h3> Realmente deseja apagar o contato (Acaciano Neves)? </h3>
</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Index">(Cancelar Exclusao)</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Contato" asp-action="Apagar">(Confirmar Exclusao)</a>