@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Criar Contatot";
}

<div class="text-center">
 
    <h1 class="display-4">Cadastrar contatos</h1>

   </div>

<form>
    <div class="form-group">
        <label for="nome">Nome Completo</label>
        <input type="text" class="form-control" placeholder="Digite o Nome">
    </div>

    <div class="form-group">
        <label for="idade">Idade</label>
        <input type="number" class="form-control" placeholder="Digite a Idade">
    </div>

    <div class="form-group">
        <label for="estadoCivil">Estado Civil</label>
        <select name="estado_civil" class="form-control" id="inputEstadoCivil">
            <option value="0">Solteiro</option>
            <option value="1">Casado</option>
            <option value="2">Separado</option>
            <option value="3">Divorciado</option>
            <option value="4">Viúvo</option>
            <option value="5">Amasiado</option>
        </select>
    </div>

    <div class="form-group">
        <label for="cpf">CPF</label>
        <input id="cpf" name="cpf" placeholder="Apenas números" class="form-control input-md" required="" type="text" maxlength="11" pattern="[0-9]+$">
    </div>

    <div class="form-group">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" placeholder="Digite a Cidade">
    </div>

    <div class="form-group">
        <label for="estado">Estado</label>
        <input type="text" class="form-control" placeholder="Digite o Estado">
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-block">Adcionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="index" role="button">Voltar</a>
</form>